[Desktop Entry]
Name=PlayPhrase
Comment=Search and play video clips by phrase
Exec=PlayPhrase
Icon=playphrase
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
Keywords=video;phrase;search;clips;
StartupWMClass=playphrase
